#logo{
    font-family: 'Fuggles', cursive;
    font-size: 40px;
    font-weight: bold;
}

#nav-items-container{
    width: 120px;
    
}

#balance{
    font-weight: bold;
}

#nav-container{
    width: 100vw;
}