#register-container{
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to bottom right ,rgb(241, 234, 221) , rgb(237, 222, 222)); */
}

#register-image{
    width: 500px;
}

#register-sub-container{
    width: 80vw;
    box-shadow: 2px 2px 4px grey;
    min-height: 60vh;
}

.leaflet-container{
    height: 50vh;
    width: 50vw;
}